body {
	background: #eceef1;
}

body,
.no-color-links {
	color: #4c4c4c;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3em;
	color: #8d8f95;
}

h2 {
	font-size: 1.5em;
}

button {
	background: #0576c5;
	color: #fff;
	border-radius: 5px;
}

/* Sign in at the top */
.sign-in-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 30px 0 0;
}

.sign-in-nav button {
	display: flex;
	padding: 5px 15px;
}

.sign-in-nav button > * {
	padding: 3px;
}

.sign-in-container {
	margin-right: 10px;
}

.sign-in-container > * {
	font-size: 0.8em;
	padding-bottom: 3px;
}

/* Title and list of Intuit products */
.main-header {
	text-align: center;
	margin-top: 3%;
}

.products-list ul,
.product a {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.product a {
	text-decoration: none;
}

.product i {
	padding-right: 3px;
}

.fa-leaf {
	color: #0aa5a4;
}

.fa-book-open {
	color: #2fa01f;
}

.fa-check-circle {
	color: #d52d20;
}

/* main container with form */
.main-container {
	background: #fff;
	border: 1px solid #c7c7c7;
	margin: 0 auto;
	max-width: 400px;
}

@media (max-width: 1000px) {
	.main-container {
		max-width: 600px;
	}
}

.main-container > * {
	text-align: center;
}

.main-container h2 {
	padding: 25px 0;
}

.main-container .mint-plug {
	padding: 0 10px 3px 10px;
}

.main-container .mint-link {
	padding-bottom: 40px;
}

/* sign up form */
.sign-up-form {
	margin: 0 40px;
	text-align: left;
}
.sign-up-form label {
	display: block;
	font-size: 15px;
}

.sign-up-form input {
	width: 100%;
	height: 25px;
	font-size: 1.1em;
	margin-top: 10px;
}

.form-container aside {
	font-size: 0.8em;
	margin-top: 5px;
}

.sign-up-form .form-container {
	margin: 10px 0 30px 0;
}

.sign-up-form button {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.sign-up-form button > * {
	padding: 10px 5px;
	font-size: 1.2em;
}

/* main container footer */

.main-container footer {
	margin: 0 55px 45px 55px;
	text-align: center;
	font-style: italic;
}

.main-container footer > * {
	font-size: 0.9em;
}

/* Google privacy section in main container */
.main-container section {
	background: #eceef1;
	padding: 25px;
}

.main-container section > * {
	font-size: 0.7em;
}

/* Main footer, bottom of page */
.main-footer {
	text-align: center;
	padding-bottom: 25px;
	font-size: 15px;
}

.main-footer ul {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 5px;
}

.main-footer li {
	padding-right: 10px;
}

.main-footer a {
	text-decoration: none;
}

.main-footer a:hover {
	text-decoration: underline;
}
